<ion-header [translucent]="true">
  <ion-toolbar color="primary">

    <ion-title>
      <p>
        <img alt="logo" id="header_logo" height="40" src="assets/images/mustache.png">
      </p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div  *ngIf="tasks.length < 1">
    <div id="container">
      <strong>Você ainda não cadastrou tarefas :(</strong>
      <p>Vamos começar?</p>
    </div>
  </div>
  <ion-list class="animate__animated animate__bounceInUp">
    <!-- <ion-item *ngIf="tasks.length < 1">Você não cadastrou nenhuma tarefa :(</ion-item> -->
    <ion-item-sliding *ngFor="let task of tasks">
      <ion-item (click)="OpenActions(task)">
        <ion-label *ngIf="!task.done">{{task.name}}</ion-label>
        <ion-label *ngIf="task.done"><del>{{task.name}}</del></ion-label>
        <ion-icon name="radio-button-off" slot="start" *ngIf="!task.done"></ion-icon>
        <ion-icon name="checkmark-circle" color="success" slot="start" *ngIf="task.done"></ion-icon>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option (click)="delete(task)" color="danger">Deletar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>


  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="animate__animated animate__rotateInDownLeft" (click)="ShowAdd()"  color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
